.card {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
    padding: 12px;
}
.cardHeader {
    display: flex;
    align-items: center;
    gap: 4px;
}

.cardInfo{
    display: flex;
    flex-direction: column;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}

.name{
    font-weight: bold;
}

.user{
    opacity: .6;
}

.followButton{
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    background-color: #fff;
    color: #000;
}